name: Nightly Integration Test

on:
  schedule:
    - cron: '0 0 * * *' # Every day at midnight
  workflow_dispatch: # Allow manual trigger

env:
  FLUTTER_VERSION: '3.27.1'

jobs:
  integration_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          cache: true
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsecret-1-dev

      - name: Get packages
        run: flutter pub get

      - name: Run Integration Test
        env:
          LEMMY_SERVER: ${{ secrets.LEMMY_SERVER }}
          LEMMY_USERNAME: ${{ secrets.LEMMY_USERNAME }}
          LEMMY_PASSWORD: ${{ secrets.LEMMY_PASSWORD }}
        run: flutter test test/integration_test.dart
